<template>

  <div class="container pt-5 mb-5">
    <div class="row">
      <div class="col-md-12">
        <h1>Person List</h1>
        <hr/>
        <p>
          <a :href="/addPerson/" class="btn btn-outline-primary">Create Person</a>
        </p>
        <hr/>
        <table class="table table-striped table-hover table-bordered">
          <thead>
          <tr>
            <th>Id</th>
            <th>Adi</th>
            <th>Soyadi</th>
            <th style="width: 180px">Actions</th>
          </tr>
          </thead>
          <tbody>
          <tr v-for="person in persons" v-bind:key="person.id">
            <td>{{ person.id }}</td>
            <td>{{ person.adi }}</td>
            <td>{{ person.soyadi }}</td>
            <td>
              <a :href="'/persons/' + person.id" class="btn btn-primary btn-sm">Update</a> |
              <a :href="'/persons/' + person.id" class="btn btn-danger btn-sm">Delete</a>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</template>

<script>
import PersonService from '../services/PersonService'

export default {
  name: '',
  data() {
    return {
      currentPerson: null,
      persons: []
    }
  },
  methods: {
    getPersons() {
      PersonService.getPersons().then((responce) => {
        this.persons = responce.data;
      });
    }
  },
  created() {
    this.getPersons()
  },
  deleteCustomer() {
    PersonService.delete(this.currentPerson.id)
        .then(() => {
          this.$router.push({name: 'persons'})
        })
        .catch(e => {
          alert(e)
        })
  },
  deletePerson() {
    PersonService.delete(this.currentPerson.id)
        .then(() => {
          this.$router.push({name: 'persons'})
        })
        .catch(e => {
          alert(e)
        })
  }
}

</script>

<style>

</style>